<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des utilisateurs</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="form-container">
        <h2>Créer un utilisateur</h2>
        <form id="userForm">
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="pseudo">Pseudo:</label>
                <input type="text" id="pseudo" name="pseudo" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Ajouter</button>
        </form>
    </div>

    <div class="user-list">
        <h2>Liste des utilisateurs</h2>
        <table id="userTable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Creation</th>
                </tr>
            </thead>
            <tbody>
                <!-- Les utilisateurs seront ajoutés ici dynamiquement -->
            </tbody>
        </table>
    </div>

    <script src="script.js"></script>
</body>

</html>